* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* primary */
    --lightRed: 0, 100%, 67%;
    --orangeyYellow: 39, 100%, 56%;
    --greenTeal: 166, 100%, 37%;
    --cobaltBlue: 234, 85%, 45%;
    /* gradients */
    --lightSlateBlue: hsl(252, 100%, 67%);
    --lightRoyalBlue: hsl(241, 81%, 54%);
    --violetBlue: hsla(256, 72%, 46%, 1);
    --persianBlue: hsla(241, 72%, 46%, 0);
    /* neutral */
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --darkGrayBlue: hsl(224, 30%, 27%);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--paleBlue);
    font-family: "Hanken Grotesk", Helvetica, sans-serif;
    font-size: 18px;
}

main {
    width: 33%;
    display: flex;
    justify-content: center;
}

.result, .summary {
    min-width: 340px;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.result {
    width: 50%;
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom, var(--lightSlateBlue), var(--lightRoyalBlue));
    border-radius: 30px;
}

.result > p:first-of-type {
    padding: 30px 0;
    color: var(--white);
    font-weight: bold;
    font-size: 1.1em;
    opacity: 0.7;
}

.percentage {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--violetBlue), var(--persianBlue));
}

.percentage p span {
    font-weight: bold;
}

.percentage .number {
    color: var(--white);
    font-size: 3.5em;
}

.percentage .light-text {
    color: var(--lightLavender);
    opacity: 0.5;
    font-size: 0.9em;
}

.result h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--white);
    font-size: 1.5em;
}

.result p.text {
    width: 70%;
    margin-bottom: 50px;
    color: var(--white);
    opacity: 0.6;
    font-size: 0.9em;
}

.summary {
    width: 55%;
    position: relative;
    margin-left: -20px;
    background-color: var(--white);
    border-radius: 0px 30px 30px 0;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.summary-content {
    width: 78%;
    margin-top: 25px;
}

.summary-content h1 {
    margin-bottom: 25px;
    font-size: 1.2em;
    text-align: left;
}

.score {
    color: black;
}

.total {
    color: grey;
}

.summary-content h1,
.score,
.total {
    opacity: 0.7;
}

.icon {
    margin-right: 7px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    margin-bottom: 13px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.9em;
}

.summary-item div:first-child {
    display: flex;
}

.reaction {
    background-color: hsla(var(--lightRed), 0.07);
    color: hsla(var(--lightRed), 0.9);
}

.memory {
    background-color: hsla(var(--orangeyYellow), 0.07);
    color: hsla(var(--orangeyYellow), 0.9);
}

.verbal {
    background-color: hsla(var(--greenTeal), 0.07);
    color: hsla(var(--greenTeal), 0.9);
}

.visual {
    background-color: hsla(var(--cobaltBlue), 0.07);
    color: hsla(var(--cobaltBlue), 0.9);
}

.btn-continue {
    padding: 17px 92px;
    margin-top: 20px;
    background-color: var(--darkGrayBlue);
    color: var(--white);
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 40px;
    border: none;
}

.btn-continue:hover {
    background: linear-gradient(to bottom, var(--lightSlateBlue), var(--lightRoyalBlue));
    cursor: pointer;
}

@media (max-width: 768px) {
    main {
        width: 90%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .result, .summary {
        height: 100%;
        width: 100%;
        min-width: unset;
    }

    .result {
        border-radius: 0px 0px 30px 30px;
    }

    .result p:first-of-type {
        padding: 20px 0;
        font-size: 1em;
    }

    .percentage {
        width: 150px;
        height: 150px;
    }

    .result h2 {
        font-size: 1.3em;
        margin: 20px 0 10px 0;
    }

    .summary {
        margin-left: 0;
        margin-top: -20px;
        border-radius: 0;
        box-shadow: none;
    }

    .summary-content h1 {
        padding-top: 15px;
        margin-bottom: 15px;
    }

    .btn-continue {
        margin: 10px 0 20px 0;
    }
}